{% extends "layout.html" %}

{% block custom_stylesheets %}
<link href="/static/stylesheets/items.css" rel="stylesheet">
{% endblock %}

{% block custom_javascripts %}
<script src="/static/javascripts/items.js"></script>
<script>
catalogVM.catalogs = [
{% for catalog in catalogs %}
{
  text: '{{ catalog }}',
  href: '/items/{{ catalog }}',
},
{% endfor %}
]
</script>
{% endblock %}

{% block body %}
<body>
  <div class="container">
      <div id="catalog">
        <template>
            <b-breadcrumb :items="catalogs"/>
        </template>
      </div>

      <div class="subtypes">
        {% for subtype in subtypes %}
        <div class="subtype">
          <a href="/items/{{ subtype }}">{{ subtype }}</a>
        </div>
        {% endfor %}
      </div>

      <div class="row">
          {% macro item_grid(item) -%}
              <div class="item">
                <div class="item-seller">
                  <div class="item-seller-avatar">
                    <img src="{{ item.seller.avatar }}" />
                  </div>
                  <div class="item-seller-name">
                    {{ item.seller.name }}
                  </div>
                </div>
                <div class="item-info">
                  <div class="item-info-pic">
                    <a href="{{ item.href }}">
                      <img src="{{ item.info.pics[0] }}" class="item-info-pic-img"/>
                    </a>
                  </div>
                  <div class="item-info-attr">
                    <div class="item-info-price">
                      <strong>￥</strong><span><strong>{{ item.info.price }}</strong></span>
                    </div>
                    <div class="item-seller-location">
                      {{ item.seller.location }}
                    </div>
                  </div>
                  <hr />
                  <div class="item-info-desc">
                    {{ item.info.desc }}
                  </div>
                  <hr />
                  <div class="item-info-pubtime">
                    {{ item.info.pubtime }}
                  </div>
                  <div class="item-comments">
                  </div>
                </div>
              </div>
          {%- endmacro %}

          <div class="col-3">
          {% for item in items %}
            {% if loop.index % 4 == 1 %}
              {{ item_grid(item) }}
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-3">
          {% for item in items %}
            {% if loop.index % 4 == 2 %}
              {{ item_grid(item) }}
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-3">
          {% for item in items %}
            {% if loop.index % 4 == 3 %}
              {{ item_grid(item) }}
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-3">
          {% for item in items %}
            {% if loop.index % 4 == 0 %}
              {{ item_grid(item) }}
            {% endif %}
          {% endfor %}
          </div>
      </div>
  </div>
</body>
{% endblock %}