{% extends "layout.html" %}

{% block custom_stylesheets %}
<link href="/static/stylesheets/itemDetails.css" rel="stylesheet">
{% endblock %}

{% block custom_javascripts %}
<script src="/static/javascripts/itemDetails.js"></script>
{% endblock %}

{% block body %}
<body>
  <div class="container" id="details">
    <div class="seller row">
        <div class="col-3 seller-info right-border">
            <img class="seller-avatar" src="{{ item.seller.avatar }}" />
            <div class="seller-name">
                {{ item.seller.name }}
            </div>
        </div>
        <div class="col-2 right-border text-center">
            <span class="grey-tip">浏览次数</span>
            <br/>
            {{ item.details.visit_number }}
        </div>
        <div class="col-2 right-border text-center">
            <span class="grey-tip">最近编辑</span>
            <br/>
            {{ item.details.update_time }}
        </div>
    </div>
    <div class="row">
      <div class="col-8">
        <template>
        <div>
            <b-carousel controls indicators :interval="5000" background="grey">
              {% for pic in item.info.pics %}
              <b-carousel-slide img-src="{{pic}}" class="item-pics">
              </b-carousel-slide>
              {% endfor %}
            </b-carousel>
        </div>
        </template>
      </div>
      <div class="col-4">
        <h2>
          {{ item.info.name }}
        </h2>
        <p>转&nbsp;&nbsp;卖&nbsp;&nbsp;价：
          <strong style="font-size: 24px;">￥<span style="color: red;">{{ item.info.price }}
          </strong>
        </p>
        <p>原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：
          <strong>￥</strong>
          {{ item.details.original_price }}
        </p>
        <hr />
        <p>成&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：
          {{ item.details.condition }}
        </p>
        <p>所&nbsp;&nbsp;在&nbsp;&nbsp;地：
          {{ item.seller.location }}
        </p>
        <p>联系方式：
          {{ item.seller.contact }}
        </p>
        <a class="buy-btn"></a>
      </div>
    </div>
    <hr />
    <b-tabs>
      <b-tab title="介绍" active>
        <br />{{ item.info.desc }}
      </b-tab>
      <b-tab title="留言" >
        TODO
      </b-tab>
    </b-tabs>
  </div>
</body>
{% endblock %}