{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "node_modules/bootstrap-vue/dist/bootstrap-vue.css" %}" rel="stylesheet">
    {% block custom_stylesheets %}{% endblock %}
  </head>

  {% block body %}{% endblock %}

  <script src="{% static "node_modules/vue/dist/vue.js" %}"></script>
  <script src="{% static "node_modules/babel-polyfill/dist/polyfill.js" %}"></script>
  <script src="{% static "node_modules/bootstrap-vue/dist/bootstrap-vue.js" %}"></script>
  {% block custom_javascripts %}{% endblock %}
</html>
