.logo {
  background-color: #ffda44;
  padding: 1rem 0rem;
}

.logo img {
  margin-left: 2rem;
}

.login-container {
  padding-left: 50rem;
  padding-top: 5rem;
}

.bg {
  background-image: url(/static/imgs/login-bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  min-width: 720px;
  z-index:-10;
  zoom: 1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 40px;
  margin: auto;
  background-color: aliceblue;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register {
  margin-top: 15px;
  text-align: center;
}

.register a {
  padding: 0px auto;
}