.seller {
    border-radius: 4px;
    margin: 2rem 0;
    padding: 0 1rem;
    border: 1px solid grey;
    border-top: 2px solid black;
}

.container {
    margin-bottom: 150px;
}

.right-border {
    border-right: 1px solid grey;
}

.text-center {
    text-align: center;
}

.grey-tip {
    font-size: 12px;
    color: grey;
}

.seller-avatar, .seller-name {
    display: inline-block;
}

.seller-avatar {
    padding-top: 10px;
    margin-right: 5px;
}

.item-pics > img {
    height: 400px !important;
    width: auto !important;
    margin: auto;
}

.buy-btn {
    background-image: url(/static/imgs/sprites.png);
    width: 202px;
    height: 45px;
    display: block;
    cursor: pointer;
}

.buy-btn:hover {
    background-position-y: 222px;
}

.comment-time {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.new-comment-textarea {
    resize: none;
}

.new-comment-btn-div {
    text-align: right;
}